body {
    margin: 0px;
    background-color: #fff6f6;
}

nav {
    display: flex;
    background-color: rgb(247, 42, 42);
    border-top: black 4px solid;
    border-bottom: black 4px solid;
}

main {
    padding: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: rgb(144, 25, 25);
}

.img-container,
.info-container {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px #ffb7b7 solid;
    background-color: white;
    margin: 1rem;
}

.img-container:hover {
    cursor: pointer;
}

.img-container > img, .info-container > img {
    max-width: 360px;
    height: auto;
}

nav a {
    display: block;
    float: left;

    font-size: 1.5rem;
    font-weight: bold;

    color: #ffffff;
    text-decoration: none;

    padding: 14px 16px;
    text-align: center;
}

nav a:hover {
    background-color: f2f2f2;
    color: #333;
}

@media screen and (max-width: 720px) {
    .row {
        flex-direction: column;
    }
    nav a {
        width: 100%;
        float: none !important;
    }
}

h1 {
    margin: 0px;
}

footer,
header {
    text-align: center;
}

main {
    margin-bottom: 2rem;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#search-form {
    padding: 0.5rem;
}

#search-form button {
    padding: 0.5rem;
    border: 3px black solid;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: red;
    border-radius: 2rem;
}

#search-box {
    border-radius: 2rem;
    padding: 8px;
    margin: 8px;
    font-size: 1rem;
}

.pokemon-name {
    margin: 1rem;
    font-size: 1.5rem;
}

.pokemon-type {
    background-color: lightblue;
    border: #95b8ff 2px solid;
    margin: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.pokemon-type > h2 {
    margin: 0;
    padding: 1rem;
}

.pokemon-stat {
    background-color: lightblue;
    border: #dfdfdf 1px solid;
    margin: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 6.5rem;
    text-align: center;
}

.pokemon-stat > h3 {
    margin: 0;
    padding: 1rem;
}

.pokemon-stat > p {
    margin: 0;
    padding: 1rem;
}

i {
    font-size: 3rem;
    text-align: center;
    margin: 0 0.5rem;
}

i:hover {
    cursor: pointer;
}

.footer-copyright {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}